telescope = "FAST",
observer = "Somebody",
source = "J2000-1234",
frontend = "19BEAM",
backend = "MB4K",
project_id = "my project",
date_obs = "2019-09-26T21:22:37.883",
ra_str = "12:34:56.7890",
dec_str = "-12:34:56.7890",
poln_type = "LIN",
poln_order = "AABBCRCI",
N = 131072,
T = 6.442450944,
dt = 4.9152e-05,
fctr = 1250,
lo_freq = 1000,
hi_freq = 1499.8779296875,
orig_df = 0.1220703125,
chan_dm = 0,
df = 0.1220703125,
BW = 500,
ra2000 = 188.73662083333332,
dec2000 = -12.582441388888888,
azimuth = 0,
zenith_ang = 0,
beam_FWHM = 0,
time_per_subint = 0.050331648,
datatype = PSRFITS,
scan_number = 0,
tracking = 1,
orig_num_chan = 4096,
num_channels = 4096,
num_polns = 4,
num_beams = 1,
beamnum = 0,
summed_polns = 0,
FITS_typecode = 11,
bits_per_sample = 8,
bytes_per_spectra = 16384,
samples_per_spectra = 16384,
bytes_per_subint = 16777216,
spectra_per_subint = 1024,
samples_per_subint = 16777216,
min_spect_per_read = 0,
num_files = 1,
offs_sub_col = 2,
dat_wts_col = 14,
dat_offs_col = 15,
dat_scl_col = 16,
data_col = 17,
apply_scale = 0,
apply_offset = 1,
apply_weight = 0,
apply_flipband = 0,
signedints = 0,
remove_zerodm = 0,
use_poln = 0,
flip_bytes = 0,
num_ignorechans = 0,
zero_offset = 0,
clip_sigma = 6,
start_MJD = 0x68e630,
filenames = 0x7fffffffbea0,
files = 0x0,
fitsfiles = 0x68e120,
padvals = 0x6adcc0,
header_offset = 0x0,
start_subint = 0x68e500,
num_subint = 0x68e540,
ignorechans = 0x0,
ignorechans_str = 0x0,
start_spec = 0x68e5d0,
num_spec = 0x68e5f0,
num_pad = 0x68e610,
get_rawblock = 0x416d00 <get_PSRFITS_rawblock>,
offset_to_spectra = 0x416bc0 <offset_to_PSRFITS_spectra>